# Entorno virtual
venv/
.env/

# Archivos de configuración y datos sensibles
*.env
config/rules.json

# Archivos de log
logs/
*.log

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos de herramientas de IDEs
.idea/
.vscode/

# Archivos generados por PyInstaller
dist/
build/
*.spec

# Archivos de pruebas
.coverage
htmlcov/
.tox/

# Otros
*.bak
